<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
</head>
<body>
    {% if choice=="Birthday"%}
    <form action="{{url_for("bform")}}" method="get">
    {% elif choice=="Anniversary"%}
    <form action="{{url_for("aform")}}" method="get">
    {% endif %}
        <label for="recmail">Recipient MailID:</label>
        <input type="text" id="recmail" name="RecipientMail" placeholder="example@gmail.com">
        <label for="recname">Recipient name:</label>
        <input type="text" id="recname" name="name" placeholder="name">
    {% if choice=="Birthday"%}
        <label for="age">Current age:</label>
        <input type="text" id="age" name="age" placeholder="eg.,20">
        <label for="time">Birthday (date and time):</label>
        <input type="datetime-local" id="time" name="time">
    {% elif choice=="Anniversary"%}
        <label for="hus">Husband:</label>
        <input type="text" id="hus" name="husband" placeholder="eg.,name">
        <label for="wife">Wife:</label>
        <input type="text" id="wife" name="wife" placeholder="eg.,name">
        <label for="years">Number of Years:</label>
        <input type="text" id="years" name="years" placeholder="eg.,10">
        <label for="time">Anniversary Date & Time:</label>
        <input type="datetime-local" id="time" name="time">
    {% endif %}
        <button type="submit">Schedule</button>
    </form>
</body>
</html>